<div class="col-md-3 col-md-offset-1 pull-right">
	<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-default btn-primary" -%>
	<%= link_to "Add Member", "#", class: "btn btn-default btn-primary", data: {toggle: "modal", target: ".bs-example-modal-lg"} -%>
</div>

<div class="col-md-3 col-md-offset-1"><%= link_to "Back", projects_path, class: "btn btn-default" -%></div>
<div class="col-md-9 col-md-offset-3">
	<h1><%= @project.name -%></h1>
	<div class="row">

		<div class="col-md-6 col-md-offset-1">
			<%= link_to "Log Work", "#", class: "btn btn-default btn-primary pull-right", data: {toggle: "modal", target: ".bs-log-work-modal-lg"} -%>
			<ul>
				<% for member in @members %>
				<li>
					<div class="row">
						<div class="col-md-6"><%= member.fullname -%></div>
						<div class="col-md-6"><%= link_to "Edit", edit_employee_registration_path(member) -%></div>
					</div>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="col-md-6 col-md-offset-1">
			<h3>Members</h3>
			<ul>
				<% for member in @members %>
				<li>
					<div class="row">
						<div class="col-md-6"><%= member.fullname -%></div>
						<div class="col-md-6"><%= link_to "Edit", edit_employee_registration_path(member) -%></div>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


<%= render template: "logged_hours/new" -%>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<h2>Sign up</h2>

					<%= form_for(resource, as: resource_name, url: employee_registration_path(resource_name), html: {class: "form-horizontal", method: :post}) do |f| %>
					<%= render template: "devise/registrations/new", locals: {f: f, button_text: "Create Member"} -%>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>
