<div class="col-md-3 col-md-offset-1 pull-right">
  <%= link_to "Edit Project", project_path(@project), class: "btn btn-default btn-primary" -%>
  <%= link_to "Add Member", "#", class: "btn btn-default btn-primary", data: {toggle: "modal", target: ".bs-example-modal-lg"} -%>
</div>

<div class="col-md-3 col-md-offset-1"><%= link_to "Back", projects_path, class: "btn btn-default" -%></div>
<div class="col-md-6 col-md-offset-3">
  <h1><%= @project.name -%></h1>
  <div class="col-md-6 col-md-offset-1">
    <h3>Members</h3>
    <ul>
      <% for member in @members %>
	<li><%= member.fullname -%></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render template: "devise/registrations/new", locals: {resource: @resource, resource_name: :employee} -%>
